<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New Item</title>
    </head>
    <body>
        <h3>Add Item</h3>
        <form method="POST">
            <label>Full_name</label><br>
            <input type="text" name="full_name" /><br><br>
            <label>Birthday</label><br>
            <input type="date" name="birthday" /><br><br>
            <label>Address</label><br>
            <input type="text" name="address" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>